html, body {
    padding: 0;
    margin: 0;
    background-color: white;
}

.body {
    width: calc(100vw - 340px);
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    display: flex;
    justify-content: space-between;
}

.chatroom {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 340px;
    box-sizing: border-box;
    padding: 40px 20px;
    border: 1px solid #000;

    .chatlist {
        position: relative;
        padding: 0;
        margin: 0 0 20px;
        width: 100%;
        height: calc(100% - 80px);
        background-color: white;
        list-style: none;
        font-size: 1em;
        line-height: 1.6em;
        overflow: scroll;

        .chat {
            list-style-position: unset;
            overflow: hidden;
            word-wrap: break-word;
        }
    }

    .send-msg-form {
        position: relative;
        width: 100%;

        .send-msg-input {
            width: 100%;
            box-sizing: border-box;
            height: 50px;
            font-size: 16px;
            line-height: 1.5em;
            padding: 2px 5px;
        }

        .send-msg-submit {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }

        .new-msg-hint {
            position: absolute;
            top: -40px;
            width: 100%;
            text-align: center;
            height: 40px;
            line-height: 40px;
            background-color: rgba(255, 255, 255, 0.8);
        }
    }
}

.monitors {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #000;
    flex-wrap: nowrap;
    height: 100%;
    width: 208px;
    align-self: flex-end;
}

.monitor {
    height: 117px;
    width: 208px;
    float: right;
    display: block;
    position: relative;
    cursor: pointer;

    img {
        width: 100%;
    }

    p {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        margin: 0;
    }

    &.active {
        width: 640px;
        height: 360px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
    }
}

.player {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;

}
